<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>美多商品-商品详情</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/slide.js"></script>
    <script src="js/index.js"></script>

</head>
<body>

<div class="header_con">
    <div class="header">
        <div class="welcome fl">欢迎来到美多商城!</div>
        <div class="fr">
            <div class="login_btn fl" th:if="${session.uaccount} ne null">
                <a href="">
                    欢迎您：<em th:text="${session.uaccount}"></em>
                </a>
                <span>|</span>
                <a href="http://localhost:8896/goods/quit">退出</a>
            </div>
            <div class="login_btn fl" th:if="${session.uaccount} eq null">
                <a href="http://localhost:8893/admin/tologin">
                    请您登陆
                </a>
            </div>
            <div class="user_link fl">
                <span>|</span>
                <a href="/goods/cartAll">我的购物车</a>
                <span>|</span>
                <a href="/goods/getAllorder">我的订单</a>
            </div>
        </div>
    </div>
</div>

<div>
<table align="center">
    <tr>
        <td>
            用户
        </td>
        <td>
            评论
        </td>
    </tr>
    <tr th:each="commom:${comments}">
        <td><p th:text="${commom.uname}"></p></td>
        <td><p th:text="${commom.comment}"></p></td>
        <td th:if="${session.uaccount}=='10081'"><a th:href="@{'/goods/deletecomment?cid='+${commom.cid}}">删除评论</a></td>
    </tr>
</table>
<form action="/goods/addcomment" method="post">
<input type="text" name="comment"/>
    <input type="hidden" name="gid" value="9">
    <input type="hidden" name="uname" th:value="${session.uaccount}">
    <input type="submit" value="提交">
</form>
</div>
</body>
</html>